pandas>=2.2
numpy>=2.0

underthesea
emoji
clean-text

matplotlib
wordcloud
plotly

scikit-learn>=1.6
xgboost

torch
transformers
datasets
accelerate
sentencepiece

shap
lime

sqlalchemy>=2.0
asyncpg

aiohttp
tenacity

python-dotenv
pydantic-settings

orjson
uvloop; platform_system != "Windows"

fastapi
uvicorn[standard]

streamlit